.Header {
  background-color: #B28DFF;
  color: #FFFFFF;
  display:flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.Footer {
  background-color: #B28DFF;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  margin: 0%;
  text-align: center;
}

.NotFound {
background-color: #DF9FA0;
color: #FFFFFF;
height: 100%;
}

.catLogo {
  height: 50px;
  width: 50px;
}

body {
  padding-top: 50px;
  padding-bottom: 0%;
  background-color: #DF9FA0;
}

.catError {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  margin-bottom: 0%;
}

html {
  background-color: #DF9FA0;
}
